# Lab - working with online data

In this Lab , you will load , clean and store online flights data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
import datetime
%matplotlib inline

In [2]:
import requests
import json

# Load the data

In [3]:
r = requests.get("https://data.gov.il/api/3/action/datastore_search?resource_id=e83f763b-b7d7-479e-b172-ae981ddc6de5&limit=5000")

In [4]:
res = json.loads(r.content)

In [5]:
df = pd.DataFrame(res['result']['records'])

## display the first rows

### display the last 10 rows - What's wrong?

In [9]:
df.head(16)

,_id,CHOPER,CHFLTN,CHOPERD,CHSTOL,CHPTOL,CHAORD,CHLOC1,CHLOC1D,CHLOC1TH,CHLOC1T,CHLOC1CH,CHLOCCT,CHTERM,CHCINT,CHCKZN,CHRMINE,CHRMINH
0,1,IZ,1843,ARKIA ISRAELI AIRLINES,2024-03-02T16:50:00,2024-03-02T17:17:00,D,ETM,RAMON,אילת - רמון,RAMON,ישראל,ISRAEL,3,G12-G18,G,DEPARTED,המריאה
1,2,LH,687,LUFTHANSA,2024-03-02T16:45:00,2024-03-02T17:19:00,D,FRA,FRANKFURT,פרנקפורט,FRANKFURT,גרמניה,GERMANY,3,26-33,A,DEPARTED,המריאה
2,3,SN,7174,BRUSSELS AIRLINES,2024-03-02T16:45:00,2024-03-02T17:19:00,D,FRA,FRANKFURT,פרנקפורט,FRANKFURT,גרמניה,GERMANY,3,26-33,A,DEPARTED,המריאה
3,4,UA,9123,UNITED AIRLINES,2024-03-02T16:45:00,2024-03-02T17:19:00,D,FRA,FRANKFURT,פרנקפורט,FRANKFURT,גרמניה,GERMANY,3,26-33,A,DEPARTED,המריאה
4,5,A4,5026,AZIMUTH AIRLINES,2024-03-02T17:35:00,2024-03-02T17:40:00,D,AER,SOCHI,סוצ'י,SOCHI,רוסיה,RUSSIAN FEDERATION,3,56-58,C,DEPARTED,המריאה
5,6,IZ,829,ARKIA ISRAELI AIRLINES,2024-03-02T18:30:00,2024-03-02T18:34:00,D,ETM,RAMON,אילת - רמון,RAMON,ישראל,ISRAEL,3,G12-G18,G,DEPARTED,המריאה
6,7,LX,253,SWISS INT`L AIRLINES,2024-03-02T18:20:00,2024-03-02T18:42:00,D,ZRH,ZURICH,ציריך,ZURICH,שוויץ,SWITZERLAND,3,26-33,A,DEPARTED,המריאה
7,8,IZ,1844,ARKIA ISRAELI AIRLINES,2024-03-02T19:15:00,2024-03-02T19:26:00,A,ETM,RAMON,אילת - רמון,RAMON,ישראל,ISRAEL,3,None,None,LANDED,נחתה
8,9,IZ,604,ARKIA ISRAELI AIRLINES,2024-03-02T18:40:00,2024-03-02T19:31:00,A,DXB,DUBAI,דובאי,DUBAI,איחוד האמירויות הערב,UNITED ARAB EMIRATES,3,None,None,LANDED,נחתה
9,10,U8,108,TUS AIRWAYS,2024-03-02T20:00:00,2024-03-02T19:51:00,A,LCA,LARNACA,לרנקה,LARNACA,קפריסין,CYPRUS,3,None,None,LANDED,נחתה
10,11,W9,4451,WIZZ UK,2024-03-02T21:05:00,2024-03-02T20:38:00,A,LTN,LUTON,לונדון לוטון,LONDON LUTON,בריטניה,UNITED KINGDOM,3,None,None,LANDED,נחתה
11,12,BZ,701,BLUE BIRD AIRWAYS,2024-03-02T15:35:00,2024-03-02T20:41:00,A,ATH,ATHENS,אתונה,ATHENS,יוון,GREECE,3,None,None,LANDED,נחתה
12,13,IZ,820,ARKIA ISRAELI AIRLINES,2024-03-02T21:05:00,2024-03-02T21:01:00,A,ETM,RAMON,אילת - רמון,RAMON,ישראל,ISRAEL,3,None,None,LANDED,נחתה
13,14,IZ,1845,ARKIA ISRAELI AIRLINES,2024-03-02T20:10:00,2024-03-02T21:06:00,D,ETM,RAMON,אילת - רמון,RAMON,ישראל,ISRAEL,3,G12-G18,G,DEPARTED,המריאה
14,15,U8,109,TUS AIRWAYS,2024-03-02T21:00:00,2024-03-02T21:12:00,D,LCA,LARNACA,לרנקה,LARNACA,קפריסין,CYPRUS,3,60-63,C,DEPARTED,המריאה
15,16,IZ,212,ARKIA ISRAELI AIRLINES,2024-03-02T21:25:00,2024-03-02T21:23:00,A,ATH,ATHENS,אתונה,ATHENS,יוון,GREECE,3,None,None,LANDED,נחתה

# clean the data

how many rows contains empty strings for each Column? (use a for loop to display the column name and percentage)

drop the empty rows

format the current date with underscore separation (%d_%m_%y)

Drop the _id column

save the raw data (add the current date to the file name)

select the airline code and name without duplicates (CHOPER,CHOPERD)

Load the file airlines.csv and merge it with a new data and save the file 'airline.csv'

Drop the Airline name column CHOPERD

Do the same task with airports (CHLOC1,CHLOC1D) and save the file 'airports.csv'

drop the hebrew columns 'CHLOC1TH','CHLOC1CH','CHRMINH'

### rename the columns

Change the PlanTime and ActualTime columns type to np.datetime64

Save the clean data

update the file final.csv with departed, landed and canceled flights only

Add a new column for total delay in minutes

What is the average delay for departed flights

create 5 diffrent graph's